* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #b80707;
    z-index: 1;
    color: white;
}

#intro {
 text-align: center;
 transform: translateY(-550px);

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.5);
    transform: translateX(-30px);
    transform: translateY(-310px);
}

.side-by-side {
    display: flex;
    transform: translateY(-500px);
}

#box-container {
    margin: 20px;
    padding: 20px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 20px 20px 50px #410101;
    width: 50%;
    margin: 20px;
}

#img-box-container {
    margin: 20px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgb(83, 6, 6);
    float: right;
    width: 50%;
    text-align: center;
}

footer {
    text-align: center;
}